body{
    background-color: aquamarine;
}

#Note{
    background: linear-gradient(to right, #33ccff 11%, #ff99cc 100%);
    font-family: 'Special Elite', cursive;;
}
.footer{
    text-shadow: 5px 5px 5px rgba(43, 231, 5, 0.733);
    margin-top: 10px;}